body{
  background: url(https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
height:100vh;
background-repeat: no-repeat;
background-size: cover;
}

.container{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 flex-direction: column;
}

.weather-box{
  border:10px solid white;
  padding:50px;
  border-radius: 10%;
  background-color: lightblue;
}